@model VeconinterContacts.Models.Cliente
<div class="mb-3">
    <label class="form-label">Nombre</label>
    <input asp-for="Nombre" class="form-control" />
    <span asp-validation-for="Nombre" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label">Email</label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label">Teléfono</label>
    <input asp-for="Telefono" class="form-control" />
    <span asp-validation-for="Telefono" class="text-danger"></span>
</div>
<div class="mb-3">
    <label class="form-label">Empresa</label>
    <input asp-for="Empresa" class="form-control" />
    <span asp-validation-for="Empresa" class="text-danger"></span>
</div>
